@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family:"Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search__results {
    background-color: rgb(55, 32, 85);
    width: 100%;
    min-height: 100vh;
}

.results__container {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px;
    color: white;
}

.search {
    color: white;
}

.poster {
    width: 100%;
}

.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    margin: 12px;
    padding: 24px;
    width: 100%;
}

.movie {
    padding: 12px;
    width: calc(100%/3);
}

#movieSort {
    border-radius: 24px;
    color: white;
    background-color: rgb(97, 9, 240);
    font-weight: bold;
    width: 130px;
    height: 24px;
}
